<launch>
   <arg name="particle_num"                                    default="100"/>

   <group ns="PF_nav">
      <node pkg="controller_tutorial" type="controller_tutorial_2" name="controller_tutorial_2" output="screen">

         <!-- 制御周期 Hz -->
         <param name="control_frequency"                       value="50.0"/>

         <!-- ノイズパラメータ --><!--contoroller_tutorialのPkgのみ(PF_navにはなし)-->
         <param name="norm_noise_mean_x"                       value="0.0"/>
         <param name="norm_noise_variance_x"                   value="0.0001"/>
         <param name="norm_noise_mean_y"                       value="0.0"/>
         <param name="norm_noise_variance_y"                   value="0.0001"/>
         <param name="norm_noise_mean_yaw"                     value="0.0"/>
         <param name="norm_noise_variance_yaw"                 value="0.0001"/>
         
         <!-- ノイズパラメータ --><!--どちらもある-->
         <param name="norm_noise_mean_linear_velocity"         value="0.0"/>
         <param name="norm_noise_variance_linear_velocity"     value="0.0000297694"/>
         <param name="norm_noise_mean_angular_velocity"        value="0.0"/>
         <param name="norm_noise_variance_angular_velocity"    value="0.00111064"/>

         <!-- Dead Eeckoning ノイズパラメータ --><!--contoroller_tutorial2のPkgのみ-->
         <param name="norm_noise_mean_linear_dead_velocity"         value="0.0"/>
         <param name="norm_noise_variance_linear_dead_velocity"     value="0.0000297694"/>
         <param name="norm_noise_mean_angular_dead_velocity"        value="0.0"/>
         <param name="norm_noise_variance_angular_dead_velocity"    value="0.00111064"/>
         
         <!-- パーティクルの初期配置におけるノイズパラメータ --><!-- PF_navのpkgのみ(contoroller_tutorialにはなし) -->
         <param name="norm_noise_mean_initial_particle_X"      value="0.0"/>
         <param name="norm_noise_variance_initial_particle_X"  value="0.1"/>
         <param name="norm_noise_mean_initial_particle_Y"      value="0.0"/>
         <param name="norm_noise_variance_initial_particle_Y"  value="0.1"/>
         <param name="norm_noise_mean_initial_particle_yaw"      value="0.0"/>
         <param name="norm_noise_variance_initial_particle_yaw"  value="0.1"/>

         <!-- 移動制御のパラメータ -->
         <param name="gain_p"                                  value="1.0"/>
         <param name="gain_i"                                  value="0.1"/>
         <param name="gain_d"                                  value="0.001"/>
         <param name="stop_margin_angle"                       value="0.01"/>
         <param name="stop_margin_distance"                    value="0.03"/>
         <param name="max_linear_velocity"                     value="0.25"/>
         <param name="max_angular_velocity"                    value="0.6"/>

         <remap from="cmd_vel_keyboard" to="/PF_nav/cmd_vel_keyboard"/>
         <remap from="cmd_vel_joy" to="/PF_nav/cmd_vel_joy"/>
      </node>

      <node pkg="PF_nav" name="PF_nav_MarkerArray_2" type="PF_nav_MarkerArray_2" output="screen">
         <rosparam command="load" file="$(find PF_nav)/yaml/markers_3.yaml"/>
      </node>

      <node pkg="controller_tutorial" type="teleop_keyboard" name="teleop_keyboard" output="screen">
         <remap from="cmd_vel" to="/PF_nav/cmd_vel_keyboard"/>
      </node>

      <node pkg="joy" type="joy_node" name="joy_node" output="screen">
      <param name="dev" value="/dev/input/js0"/>
      <param name="deadzone" value="0.1"/>
      <param name="autorepeat_rate" value="20"/>
      <remap from="joy" to="/PF_nav/joy"/> <!-- 明示的にグローバル指定 -->
      </node>
      
       <!-- teleop_twist_joy（/joy→/PF_nav/cmd_vel_joy） -->
      <node pkg="controller_tutorial" type="teleop_joy" name="teleop_joy" output="screen">
         <remap from="cmd_vel" to="/PF_nav/cmd_vel_joy"/>
      </node>

      <node pkg="PF_nav" name="PF_nav_Visualization" type="PF_nav_Visualization" output="screen">
         <!-- <param name="particle_num"                            value="$(arg particle_num)"/> -->

         <!-- 生成するパーティクル数 -->
         <param name="particle_num"                            value="$(arg particle_num)"/>

         <!-- パーティクル移動時のノイズパラメータ -->
         <param name="norm_noise_mean_linear_velocity"         value="0.0"/>
         <param name="norm_noise_variance_linear_velocity"     value="0.0000297694"/>
         <param name="norm_noise_mean_angular_velocity"        value="0.0"/>
         <param name="norm_noise_variance_angular_velocity"    value="0.00111064"/>

         <!-- パーティクルの初期配置におけるノイズパラメータ -->
         <param name="initial_particle_Position_mean_noise"             value="0.0"/>
         <param name="initial_particle_Position_variance_noise"             value="0.1"/>
         <param name="initial_particle_yaw_mean_noise"             value="0.0"/>
         <param name="initial_particle_yaw_variance_noise"             value="0.0352"/>

         <!-- ロボット観測値のノイズパラメータ -->
         <param name="norm_noise_mean_Scan_distance"         value="0.327"/>
         <param name="norm_noise_variance_Scan_distance"     value="0.000856"/>
         <param name="norm_noise_mean_Scan_angle"        value="0.0"/>
         <param name="norm_noise_variance_Scan_angle"    value="0.00464"/>
         <param name="norm_noise_mean_Scan_Long_distance"        value="1.37"/>
         <param name="norm_noise_variance_Scan_Long_distance"    value="0.0138"/>
      </node>

      <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find PF_nav)/rviz/PF_nav.rviz"/>
   </group>
</launch>
